.container {
  background: rgb(253, 253, 137);
}

.max-temp {
  font-weight: bold;
}

.min-temp {
  opacity: 0.6;
}

h1 {
  font-weight: bold;
}

.left-side {
  float: right;
}

.temperature {
  font-size: 55px;
  font-weight: bolder;
}

.weekly-forecast {
  list-style: none;
  padding: 4px;
  margin-top: 8px;
}

.weekly-temp {
  list-style: none;
}

.temp-emoji img {
  height: 70px;
  width: 70px;
}

h3 {
  float: left;
}
